.outerDiv {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  color: var(--white);
  border-top: 1px solid var(--light-gray3);
}

.innerDiv {
  width: 90%;
  height: 100%;
  max-width: 100%;
}

.clmns {
  width: 100%;
  display: flex;
  margin: 3rem 0;
}

.clmn {
  flex: 1;
  max-width: 300px;
}

.lastChild {
  width: auto;
  max-width: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.cli {
  font-size: 0.9rem;
  list-style: none;
  margin: 0.5rem 0;
}

.cli > a {
  text-decoration: none;
  color: var(--white);
}

.creds {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.cred1 {
  width: 100px;
  height: 50px;
}

.img {
  width: 100%;
  height: 100%;
}

.cred2 {
}

@media screen and (max-width: 426px) {
  .clmns {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0.5rem 0;
  }
  .clmn {
    margin: 1rem 0;
  }

  .creds {
    display: flex;
    align-items: center;
  }
}

/* ============================================
   MOBILE RESPONSIVE ENHANCEMENTS FOR FOOTER
   ============================================ */

/* Extra Small Screens (320px - 426px) */
@media screen and (max-width: 426px) {
  .outerDiv {
    padding: 1rem 0;
  }

  .innerDiv {
    width: 95%;
  }

  .clmns {
    margin: 1rem 0;
  }

  .clmn {
    max-width: 100%;
    margin: 0.75rem 0;
  }

  .lastChild {
    width: 100%;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .cli {
    font-size: 0.8rem;
    margin: 0.3rem 0;
  }

  .creds {
    flex-direction: column;
    gap: 1rem;
  }

  .cred1 {
    width: 80px;
    height: 40px;
  }

  .cred2 {
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
  }
}

/* Small Screens (427px - 768px) */
@media screen and (max-width: 768px) {
  .outerDiv {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }

  .innerDiv {
    width: 100%;
    padding: 0 1rem;
  }

  .clmns {
    margin: 2rem 0;
    flex-wrap: wrap;
  }

  .clmn {
    flex: 1;
    margin: 0.75rem 0;
    min-width: 150px;
  }

  .lastChild {
    width: 100%;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .cli {
    font-size: 0.85rem;
    margin: 0.4rem 0;
  }

  .creds {
    flex-direction: row;
    margin: 1rem 0;
  }

  .cred1 {
    width: 90px;
    height: 45px;
  }

  .cred2 {
    font-size: 0.85rem;
  }
}

/* Medium Screens (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .innerDiv {
    width: 90%;
  }

  .clmns {
    margin: 2.5rem 0;
  }

  .clmn {
    max-width: 280px;
  }

  .cli {
    font-size: 0.85rem;
  }
}
