.outterDiv {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.bdy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  width: 75%;
  height: 100%;
  overflow-y: auto;
}

.content {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.footer {
  width: 100%;
}

.right {
  width: 25%;
  max-height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--lighish-white);
}

@media screen and (min-width: 1441px) {
  .content {
    max-height: none;
    height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .left {
    width: 70%;
  }
  .right {
    width: 30%;
  }
  
  .content {
    max-height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .outterDiv {
    overflow-x: hidden;
    width: 100%;
  }

  .bdy {
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
  }
  
  .left {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  
  .content {
    width: 100vw;
    max-width: 100%;
    max-height: none;
    height: auto;
    aspect-ratio: 16 / 9;
    min-height: 280px;
    background-color: #000;
    padding: 0;
    margin: 0;
    margin-left: calc(-50vw + 50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right {
    width: 100%;
    position: static;
    max-height: none;
    overflow-y: visible;
    margin-top: 0;
  }
}

@media screen and (max-width: 426px) {
  .outterDiv {
    overflow-x: hidden;
    width: 100%;
  }

  .bdy {
    overflow-x: hidden;
    width: 100%;
  }

  .left {
    padding: 0;
    margin: 0;
  }

  .content {
    width: 100vw;
    max-width: 100%;
    min-height: 225px;
    background-color: #000;
    padding: 0;
    margin: 0;
    margin-left: calc(-50vw + 50%);
    aspect-ratio: 16 / 9;
  }
}
