* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "SF Pro Text", "BlinkMacSystemFont", "Roboto", "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  scroll-behavior: smooth;
}

:root {
  --black: #000;
  --blackBg: #1f1e1f;
  --white: #fff;
  --lighish-white: #f7f9fa;

  --gray: #1c1d1f;
  --light-gray: #6a6f73;
  --light-gray2: #242528;
  --light-gray3: #3e4143;
  --gray86: #d1d7dc;
  --gray100: #f0f2f4;
  --gray-wild-sand: #f3f3f3;
  --gray-alto: #d9d9d9;
  --gray-silver: #b7b7b7;
  --gray-silver-chalice: #999999;
  --gray-mine-shaft: #434343;

  --purple: #a435f0;
  --purple-dark: #8710d8;

  --teal: #72d8ba;
  --dark-teal: #199fa3;
  --dark-teal2: #1e6055;
  --teal-green-light: #6ac1d0;
  --teal-green-lighter: #c3e6ec;

  --yellow: #e9e729;
  --blue: #5022c3;

  --red: #f4522d;
  --red1: #b32d0f;

  --indigo: #5624d0;
  --indigo200: #b7a9e5;
  --indigolight: #cec0fc;

  --blackish2: rgb(51, 51, 51);

  --yellowish-green: #eceb98;
  --yellowish-green-dark: #3d3c0a;

  --glodish1: #b4690e;
  --glodish2: #e59819;

  --crimson: crimson;

  --light-orangish: #f3ca8c;

  --transparent: transparent;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.slick-arrow::after {
  display: none;
}
.slick-arrow::before {
  display: none;
}

/* ============================================
   RESPONSIVE BREAKPOINTS & UTILITIES
   Mobile-first approach
   ============================================ */

/* Breakpoints */
@media screen and (max-width: 320px) {
  :root {
    --font-size-base: 14px;
  }
}

@media screen and (max-width: 426px) {
  :root {
    --font-size-base: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-size-base: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --font-size-base: 15px;
  }
}

/* ============================================
   UTILITY CLASSES FOR RESPONSIVE DESIGN
   ============================================ */

/* Hide elements on different screen sizes */
.hide-mobile {
  display: none;
}

.show-mobile {
  display: block;
}

@media screen and (min-width: 769px) {
  .hide-mobile {
    display: block;
  }

  .show-mobile {
    display: none;
  }
}

.hide-tablet {
  display: none;
}

.show-tablet {
  display: block;
}

@media screen and (min-width: 1025px) {
  .hide-tablet {
    display: block;
  }

  .show-tablet {
    display: none;
  }
}

.hide-desktop {
  display: block;
}

.show-desktop {
  display: none;
}

@media screen and (min-width: 1025px) {
  .hide-desktop {
    display: none;
  }

  .show-desktop {
    display: block;
  }
}

/* Responsive padding and margins */
@media screen and (max-width: 768px) {
  .responsive-padding-mobile {
    padding: 1rem !important;
  }

  .responsive-margin-mobile {
    margin: 1rem !important;
  }
}

/* Responsive font sizes */
@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 426px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Responsive container widths */
.container-responsive {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 426px) {
  .container-responsive {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
  .container-responsive {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .container-responsive {
    width: 85%;
  }
}

@media screen and (min-width: 1441px) {
  .container-responsive {
    width: 80%;
  }
}

/* Responsive flex layouts */
.flex-responsive {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .flex-responsive-mobile-column {
    flex-direction: column !important;
  }

  .flex-responsive-mobile-stack {
    display: flex;
    flex-direction: column;
  }
}

/* Responsive grid layouts */
.grid-responsive {
  display: grid;
  gap: 1rem;
}

@media screen and (max-width: 426px) {
  .grid-responsive {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .grid-responsive {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-responsive {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .grid-responsive {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Responsive text overflow */
@media screen and (max-width: 426px) {
  .truncate-mobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .line-clamp-1-mobile {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
